
<div class="container" >
    <form class="form-signin" on-key-enter="loginCtrl.doLogin()">
        <h2 class="form-signin-heading">{{ 'login' | translate }}</h2>
        <label for="inputEmail" class="sr-only">{{ 'username' | translate }}</label>
        <input type="text" id="inputEmail" class="form-control" placeholder="{{ 'username' | translate }}" required autofocus ng-model="loginCtrl.username" on-key-enter="loginCtrl.doLogin()">
        <label for="inputPassword" class="sr-only">{{ 'password' | translate }}</label>
        <input type="password" id="inputPassword" class="form-control" placeholder="{{ 'password' | translate }}" required ng-model="loginCtrl.password" on-key-enter="loginCtrl.doLogin()">
        <label for="inputCompanyName" class="sr-only">{{ 'companyName' | translate }}</label>
        <input type="text" id="txtCompanyName" class="form-control" placeholder="{{ 'companyName' | translate }}" required ng-model="loginCtrl.companyName" on-key-enter="loginCtrl.doLogin()">
        <div class="checkbox">
            <label>
                <input type="checkbox" value="remeber me">
                {{ 'rememberMe' | translate }}
              
         
            </label> 
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit" ng-click="loginCtrl.doLogin()">{{ 'login' | translate }}</button>
        <p>{{ 'forgotPassword' | translate }} <a href="#">{{ 'clickHere' | translate }}</a></p>
        <ui-select position="down" all-choices="loginCtrl.languageList"  refresh-delay="0"  ng-model="loginCtrl.selectedLanguage " style="min-width: 100px;" theme="bootstrap" search-enabled="false" on-select="loginCtrl.onLanguageChange()"> 
                      <ui-select-match placeholder="{{'chooseLanguage'|translate}}"><img style="padding-left:5px;vertical-align: super;" ng-src="{{ $select.selected.url }}" />&nbsp;&nbsp; {{$select.selected.name}}</ui-select-match>                  
                    <ui-select-choices repeat="lang in loginCtrl.languageList">
                      <img ng-src="{{ lang.url }}" />&nbsp;&nbsp;
                      <div ng-bind-html="lang.name | highlight: $select.search" style="display: inline"></div>
                    </ui-select-choices>
            </ui-select>
        <div uib-alert ng-class="'alert-danger'" ng-show="loginCtrl.showAlert">{{ loginCtrl.loginMessage | translate}}  </div>
    </form>
    <tek-progress-bar bar-class="progress-bar-info" ng-show="loginCtrl.showProgressBar" ng-model="loginCtrl.progressBarValue" manager="loginCtrl.progressManager">{{loginCtrl.progressBarValue}}%</tek-progress-bar>
</div>
