<!-- Where all the magic happens -->
<!-- LOGIN FORM -->
<div class="text-center" style="padding: 50px 0" on-key-enter="loginCtrl.doLogin()">
    <div class="logo">login</div>
    <!-- Main Form -->
    <div class="login-form-1">
        <form id="login-form" class="text-left">
            <div class="login-form-main-message"></div>
            <div class="main-login-form">
                <div class="login-group">
                    <div class="form-group">
                        <label for="lg_username" class="sr-only">Username</label>
                        <input type="text" class="form-control" id="lg_username" name="lg_username" placeholder="username" ng-model="loginCtrl.username" on-key-enter="loginCtrl.doLogin()">
                    </div>
                    <div class="form-group">
                        <label for="lg_password" class="sr-only">Password</label>
                        <input type="password" class="form-control" id="lg_password" name="lg_password" placeholder="password" ng-model="loginCtrl.password" on-key-enter="loginCtrl.doLogin()">
                    </div>
                    <div class="form-group">
                        <label for="txtCompany" class="sr-only">Company Name</label>
                        <input type="text" class="form-control" id="txtCompany" name="lg_company" placeholder="company name" ng-model="loginCtrl.companyName" on-key-enter="loginCtrl.doLogin()">
                    </div>
                    <div class="form-group login-group-checkbox">
                        <input type="checkbox" id="lg_remember" name="lg_remember">
                        <label for="lg_remember">remember</label>
                    </div>
                </div>
                <button type="button" class="login-button" ng-click="loginCtrl.doLogin()"><i class="glyphicon glyphicon-chevron-right"></i></button>

            </div>

            <div class="etc-login-form">
                <p>forgot your password? <a href="#">click here</a></p>
            </div>
            <div uib-alert ng-class="'alert-danger'" ng-show="loginCtrl.showAlert">{{loginCtrl.loginMessage}}</div>
        </form>
        <tek-progress-bar bar-class="progress-bar-info" ng-show="loginCtrl.showProgressBar" ng-model="loginCtrl.progressBarValue" manager="loginCtrl.progressManager">{{loginCtrl.progressBarValue}}%</tek-progress-bar>
    </div>
    <!-- end:Main Form -->
</div>
