<uib-accordion>
   <div uib-accordion-group class='panel-info' is-open='refuelCtrl.isOpen'>
      <uib-accordion-heading>
         Refuel Search Panel
         <button type='button' class='btn btn-primary btn-sm  btn-float-right' >Close</button>
      </uib-accordion-heading>
      <div class="row">
         <div class="col-lg-3">
            <label class='label-refuel' for='cbxPumps'>Pump: </label>  
             <ui-select  ng-model="refuelCtrl.pumpSelectedItem" theme="bootstrap" ng-disabled="refuelCtrl.disabled"  id="cbxPumps" title="Choose a pump">
                <ui-select-match allow-clear="true" placeholder="Start type pump name or id">{{$select.selected.LIST_ITEM_DISPLAY_NAME_ID}}</ui-select-match>
	             <ui-select-choices  repeat="pumpData  in refuelCtrl.pumpsData | filter:  { LIST_ITEM_DISPLAY_NAME_ID: $select.search}">
                  <div ng-bind-html="pumpData.LIST_ITEM_DISPLAY_NAME_ID | highlight: $select.search"></div>               
                </ui-select-choices>
             </ui-select>   
         </div>
         <div class="col-lg-3">
            <label class='label-refuel' for='cbxDrivers'>Driver: </label>          
             <ui-select id="cbxDrivers"  ng-model="refuelCtrl.driverSelectedItem" theme="bootstrap" ng-disabled="refuelCtrl.disabled"  title="Choose a driver">
                <ui-select-match allow-clear="true" placeholder="Start type driver name or id">{{$select.selected.DriverBBID}} {{$select.selected.DriverName}}</ui-select-match>
	             <ui-select-choices position="down" all-choices="refuelCtrl.driversList"  refresh-delay="0" repeat="driverData  in refuelCtrl.driversList | propsFilter:  { DriverName: $select.search,DriverBBID: $select.search} | limitTo: 100">
                  <div ng-bind-html="driverData.DriverName| highlight: $select.search"></div> 
                      <small>                      
                        id: <span ng-bind-html="''+driverData.DriverBBID | highlight: $select.search"></span>
                      </small>              
                </ui-select-choices>
             </ui-select>   
         </div>
         <div class="col-lg-3">
            <p class="input-group">
               <label for="txtStartDate">Start Date: </label>
               <input id="txtStartDate" placeholder="dd/MM/yyyy" type="text" class="form-control" uib-datepicker-popup="{{refuelCtrl.format}}" ng-model="refuelCtrl.startDateTime" is-open="refuelCtrl.startDateTimeData.opened" 
                  datepicker-options="refuelCtrl.dateOptions"  close-text="Close" alt-input-formats="refuelCtrl.altInputFormats" />
               <span class="input-group-btn" id="btnOpenStartDateCalendar">
               <button type="button"  class="btn btn-default" ng-click="refuelCtrl.startDateOpen()"><i class="glyphicon glyphicon-calendar"></i></button>
               </span>
            </p>
         </div>
         <div class="col-lg-3" id="startTimeDiv">
            <div uib-timepicker ng-model="refuelCtrl.startTime"   show-meridian="false"></div>
         </div>
      </div>
      <div class="row">
         <div class="col-lg-3">
            <label class='label-refuel' for='cbxTypeandSource'>Type and source: </label>           
              <ui-select id="cbxTypeandSource"  ng-model="refuelCtrl.selectedRefuelTypeAndSourceOption" theme="bootstrap" ng-disabled="refuelCtrl.disabled"   title="Choose a type and source">
                <ui-select-match allow-clear="true" placeholder="Select type and source">{{$select.selected.PHRASE_NAME}}</ui-select-match>
	             <ui-select-choices  repeat="typesAndSourcesData  in refuelCtrl.typesAndSourcesList ">
                  <div ng-bind-html="typesAndSourcesData.PHRASE_NAME| highlight: $select.search"></div>                                   
                </ui-select-choices>
             </ui-select>   
         </div>
         <div class="col-lg-3">
            <label class='label-refuel' for='cbxRefuelTags'>Tag ID: </label>
              <ui-select id="cbxRefuelTags"  ng-model="refuelCtrl.tagSelectedItem" theme="bootstrap" ng-disabled="refuelCtrl.disabled"   title="Choose tag">
                <ui-select-match allow-clear="true" placeholder="Start type tag id">{{$select.selected.V_BB_VEHICLE_ID}} {{$select.selected.ID}}</ui-select-match>
	             <ui-select-choices  repeat="searchTagsData  in refuelCtrl.searchTagsList  | propsFilter:  { ID: $select.search,V_BB_VEHICLE_ID: $select.search} ">
                  <div ng-bind-html="searchTagsData.V_BB_VEHICLE_ID| highlight: $select.search"></div>  
                       <small>                      
                        id: <span ng-bind-html="''+searchTagsData.ID | highlight: $select.search"></span>
                      </small>                                   
                </ui-select-choices>
             </ui-select>   
         </div>

          <div class="col-lg-3">
            <p class="input-group">
               <label for="txtEndDate">End Date: </label>
               <input id="txtEndDate" placeholder="dd/MM/yyyy" type="text" class="form-control" uib-datepicker-popup="{{refuelCtrl.format}}" ng-model="refuelCtrl.endDateTime" is-open="refuelCtrl.endDateTimeData.opened" 
                  datepicker-options="refuelCtrl.dateOptions"  close-text="Close" alt-input-formats="refuelCtrl.altInputFormats" />
               <span class="input-group-btn" id="btnOpenEndDateCalendar">
               <button type="button"  class="btn btn-default" ng-click="refuelCtrl.endDateOpen()"><i class="glyphicon glyphicon-calendar"></i></button>
               </span>
            </p>
         </div>
         <div class="col-lg-3" id="endTimeDiv">
            <div uib-timepicker ng-model="refuelCtrl.endTime"   show-meridian="false"></div>
         </div>
      </div>
       <div class="row  col-lg-offset-11">
           <button id="searchButton" class="btn btn-primary" ng-click="refuelCtrl.checkSearchFilters()">Search</button>
       </div>
   </div>
</uib-accordion>
<div uib-alert ng-show="refuelCtrl.errorMessageData.refuelErrorMessage.length" ng-class="'alert-' + (refuelCtrl.errorMessageData.refuelAlertType || 'danger')">{{refuelCtrl.errorMessageData.refuelErrorMessage}}</div>

<div id="refuelGrid" ui-grid="refuelCtrl.gridOptions" ui-grid-auto-fit-columns ui-grid-edit ui-grid-row-edit ui-grid-validate class="grid">
    <span us-spinner="{radius:30, width:8, length: 16,color:'black'}" spinner-on="refuelCtrl.loading"></span>
    <div class="watermark" ng-show="!refuelCtrl.gridOptions.data.length && !refuelCtrl.loading">No data available</div>
</div>
