div[gridster] .controls {
    margin-bottom: 20px;
}

div[gridster] .page-header {
    margin-top: 20px;
}

div[gridster] > ul {
    list-style: none;
}

.gridster-item > .box {
    height: 100%;
    border: 1px solid #ccc;
    background-color: #fff;
}

    .gridster-item > .box > .box-header {
        background-color: #eee;
        padding: 0 30px 0 10px;
        border-bottom: 1px solid #ccc;
        cursor: move;
        position: relative;
    }

        .gridster-item > .box > .box-header > h3 {
            margin-top: 10px;
            display: inline-block;
        }

    .gridster-item > .box > .box-content {
        /*padding: 10px;*/
        /*top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);*/
        /*position: relative;
        text-align: center;*/
    }

    .gridster-item > .box > .box-header > .box-header-btns {
        top: 15px;
        right: 10px;
        cursor: pointer;
        position: absolute;
    }

div[gridster] a {
    color: #ccc;
}

div[gridster] form {
    margin-bottom: 0;
}

.gridster {
    border: 1px solid #ccc;
}
.dropdown-menu {
    min-width:225px !important;
}
#dashboardDataGrid {
    width:270px;    
    border:2px solid grey;
    border-radius:10px;
    margin:10px;
}
.reports {
    background-image:url(images/reports.png) ;
    margin:5px 0px 0px 25px;
    cursor:pointer;
}
#dashboardDataGrid .ui-grid-header-cell .ui-grid-cell-contents{
text-align:center;
}

