
<div class="clock-container">
    <label>Now</label>
    <div ngx-timer widgetid="{{widget.id}}" timewidgetfor="now" type="totalHours" class="box hours" id="hours"></div>
    <div class="divider">:</div>
    <div widgetid="{{widget.id}}" timewidgetfor="now" ngx-timer type="totalMinutes" class="box minutes" id="minutes"></div>
    <div class="divider">:</div>
    <div ngx-timer widgetid="{{widget.id}}" timewidgetfor="now" type="totalSeconds" class="box seconds" id="seconds"></div>
</div>

<div class="clock-container">
    <label>Today</label>
    <div ngx-timer widgetid="{{widget.id}}" timewidgetfor="today" type="totalHours" class="box hours" id="hours"></div>
    <div class="divider">:</div>
    <div widgetid="{{widget.id}}" timewidgetfor="today" ngx-timer type="totalMinutes" class="box minutes" id="minutes"></div>
    <div class="divider">:</div>
    <div ngx-timer widgetid="{{widget.id}}" timewidgetfor="today" type="totalSeconds" class="box seconds" id="seconds"></div>
</div>

<div class="clock-container">
      <label>Week</label>
    <div ngx-timer widgetid="{{widget.id}}" timewidgetfor="week" type="totalHours" class="box hours" id="hours"></div>
    <div class="divider">:</div>
    <div widgetid="{{widget.id}}" timewidgetfor="week" ngx-timer type="totalMinutes" class="box minutes" id="minutes"></div>
    <div class="divider">:</div>
    <div ngx-timer widgetid="{{widget.id}}" timewidgetfor="week" type="totalSeconds" class="box seconds" id="seconds"></div>
</div>

<div class="clock-container">
      <label>Month</label>
    <div ngx-timer widgetid="{{widget.id}}" timewidgetfor="month" type="totalHours" class="box hours" id="hours"></div>
    <div class="divider">:</div>
    <div widgetid="{{widget.id}}" timewidgetfor="month" ngx-timer type="totalMinutes" class="box minutes" id="minutes"></div>
    <div class="divider">:</div>
    <div ngx-timer widgetid="{{widget.id}}" timewidgetfor="month" type="totalSeconds" class="box seconds" id="seconds"></div>
</div>

